* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/*Cabeçalho com lista de links*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #CCCCCC;
    padding: 20px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.lista ul{
    display: flex;
}

.lista ul li {
    margin-left: 20px;
    list-style: none;
}

.lista ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.lista ul li a:hover {
    color: rgb(160, 136, 4);
    text-decoration: underline;
}
/*Imagem principal*/
.banner {
    width: 100%;
    box-shadow: 0px 5px 20px black;
}
/*background*/
main {
    background: linear-gradient(white, grey);
}
/*Tamanho de toda a página*/
.main {
    width: 940px;
    margin: 0 auto;
}
/*Sobre a barbearia*/
.utencilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.informacoes h2, .beneficios h2, .mapa h2{ 
    text-align: center;
    font-size: 2em;
    margin: 1.5em 0 1em;
    clear: left;
}

.informacoes p {
    margin: 0 0 1em;
    text-align: justify;
}

.informacoes strong {
    font-weight: bold;
}

.informacoes span {
    font-style: italic;
    font-weight: bold;
}
/*Nosso estabelecimento*/
.mapa {
    text-align: center;
}

.mapa p {
    margin: 2em 0;
}
/*Beneficios*/
.lista-benficios {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.lista-benficios ul {
    width: 40%;
}

.lista-benficios ul li {
    line-height: 2.3em;
    list-style: none;
}

.lista-benficios ul li::before {
    content: "✫ ";
}

.lista-benficios ul li:first-child {
    font-weight: bold;
}

.beneficios img {
    width: 37%;
    opacity: 0.9;
}
/*Video*/
.video {
    width: 500px;
    margin: 5em auto 0;
    padding: 0 0 3em;
}
/*Rodapé*/
footer {
    background-image: url(/img/bg.jpg);
    text-align: center;
    color: white;
    padding: 20px 0;
}
